body {
  display: flex;
  flex-direction: column;
  font-family: "Lilita One", sans-serif;
  background: linear-gradient(45deg, #00D5DB, #0C59FE);
  margin: 0;
}

.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

content {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em 5em;
}
header .logo {
  width: 10em;
  filter: drop-shadow(0em 0em 2em);
  padding: 1em;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
header nav a {
  background-color: white 10%;
  text-decoration: none;
  color: white;
  background: none;
  border: 0.1em solid rgba(255, 255, 255, 0.506);
  box-shadow: 0 0 0.2em rgba(255, 255, 255, 0.495);
  font-size: 1.5em;
  padding: 0.5em;
  border-radius: 0.5em;
  transition: all 0.5s ease;
  margin: 0.3em;
}
header nav a:hover {
  text-shadow: 0, 0, 2em, black;
  color: #000;
  background-color: white;
  box-shadow: 0 0 0em rgba(255, 255, 255, 0.495);
}

.hr-sections {
  width: 100%;
  height: 0.1em;
  background-color: white;
  margin: 0;
  box-shadow: 0 0 0.2em rgba(255, 255, 255, 0.495);
}

.bloc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5em;
}
.bloc hr {
  border: 2px solid white;
  width: 100%;
}

h2 {
  font-size: 3em;
  color: white;
}

p {
  font-size: 1.5em;
  color: white;
}

#bloc-home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 0;
  padding: 1em 5em 5em 5em;
}
#bloc-home h1 {
  font-size: 4em;
  color: aliceblue;
  text-shadow: 0em 0em 0.3em rgba(0, 6, 63, 0.439);
}
#bloc-home h2 {
  color: aliceblue;
  text-shadow: 0em 0em 0.3em rgba(0, 6, 63, 0.439);
  margin: 0 0 1em 0;
}
#bloc-home span {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin: 2em;
}
#bloc-home img {
  width: 5em;
  filter: drop-shadow(0em 0em 0.5em rgba(0, 6, 63, 0.439));
  margin: 1em 1em;
  border-radius: 1em;
  z-index: 2;
}
#bloc-home .ytb-video {
  width: 36em;
  height: 22em;
  border-radius: 1em;
  filter: drop-shadow(0em 0em 1em rgba(0, 6, 63, 0.439));
  z-index: 2;
}
#bloc-home .buttons-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}
#bloc-home .buttons-list a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white 10%;
  width: 8em;
  height: 4em;
  text-align: center;
  text-decoration: none;
  color: white;
  text-shadow: 0, 0, 2em, black;
  box-shadow: 0 0 0.1em rgba(47, 47, 47, 0.495);
  font-size: 1.5em;
  padding: 0.5em;
  border-radius: 0.5em;
  transition: all 0.5s ease;
  margin: 0.3em;
}
#bloc-home .buttons-list a img {
  width: 1em;
  border-radius: 0;
  margin: 0.5em;
}
#bloc-home .buttons-list a:hover {
  text-shadow: 0, 0, 2em, black;
  color: #000;
  background-color: white;
  box-shadow: 0 0 2em rgba(255, 255, 255, 0.495);
}

#bloc-download {
  padding: 1.5em;
  background-color: rgba(228, 228, 228, 0.532); /* Semi-opaque background */
  -webkit-backdrop-filter: blur(5em);
          backdrop-filter: blur(5em); /* Apply blur effect */
  border-radius: 1em; /* Optional: Add rounded corners */
}

#b1 {
  background-color: #00a173;
}

#b2 {
  background-color: azure;
  color: #000 !important;
}

#b3 {
  background-color: #FFC604;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#bloc-game {
  background-color: #2C2D2A;
}
#bloc-game .ytb-video {
  width: 46em;
  height: 26em;
  border-radius: 1em;
  filter: drop-shadow(0em 0em 1em rgba(0, 6, 63, 0.439));
  z-index: 2;
}
#bloc-game span {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin: 2em;
}

#bloc-screenshots {
  background-color: #FFC604;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#bloc-screenshots span {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin: 0;
}
#bloc-screenshots h2 {
  margin: 2em 0 0 0;
}
#bloc-screenshots h2, #bloc-screenshots p {
  color: #000;
}
#bloc-screenshots hr {
  border: 2px solid #000;
  width: 100%;
}
#bloc-screenshots .screenshots {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em 0;
  align-items: center !important;
  width: 100%;
  margin: 2em 0;
  -o-object-fit: cover;
     object-fit: cover;
  box-sizing: border-box;
}
#bloc-screenshots a {
  transition: all 0.5s ease;
}
#bloc-screenshots a img {
  max-width: 15em;
  border-radius: 1em;
  filter: drop-shadow(0em 0em 1em rgba(0, 6, 63, 0.439));
  z-index: 2;
}
#bloc-screenshots a:hover img {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.stretch-guy {
  width: 10000px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  scale: 5;
  filter: drop-shadow(0em 0em 1em rgba(0, 6, 63, 0.439));
}

footer {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #0C59FE;
  padding: 2em;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}
footer img {
  width: 15em;
  filter: drop-shadow(0em 0em 2em);
}
footer a {
  margin: 1em;
}

@media only screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
  }
  header .logo {
    width: 10em;
    filter: drop-shadow(0em 0em 2em);
    padding: 1em;
  }
  header nav {
    display: none !important;
  }
  #bloc-home {
    flex-direction: column;
    align-items: center;
  }
  #bloc-home h1 {
    font-size: 3em;
  }
  #bloc-home h2 {
    font-size: 2em;
  }
  #bloc-home {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #bloc-home .ytb-video {
    width: 100%;
    height: 20em;
  }
  #bloc-game {
    flex-direction: column;
    align-items: center;
  }
  #bloc-game .ytb-video {
    width: 100%;
    height: 20em;
  }
  #bloc-screenshots .screenshots {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #bloc-screenshots .screenshots img {
    max-width: 100%;
    margin: 1em 0;
  }
  footer img {
    width: 10em;
  }
}/*# sourceMappingURL=style.css.map */